@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
.content {
  height: 75px;
  background-color: rgb(70, 65, 83);
  color: rgb(172, 81, 81);
  margin-bottom: 0px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 75px;
  background-color: rgb(39, 82, 78);
  color: rgb(172, 81, 81);
  margin-bottom: 0px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart {
  height: 75px;
  color: rgb(36, 0, 136);
  position: fixed;
  top: 50px;
  right: 100px;
}
