.content {
  height: 75px;
  background-color: rgb(70, 65, 83);
  color: rgb(172, 81, 81);
  margin-bottom: 0px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 75px;
  background-color: rgb(39, 82, 78);
  color: rgb(172, 81, 81);
  margin-bottom: 0px;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
